{% extends "templates/web.html" %}

{% block title %}{{ _(title) }}{% endblock %}

{#
{% block header %}
<h1>{{ _(title) }}</h1>
{% endblock %}

{% block breadcrumbs %}
{% if has_header and login_required %}
{% include "templates/includes/breadcrumbs.html" %}
{% endif %}
{% endblock %}
#}

{#
{% block page_content %}
<div class="introduction">
	{% if introduction_text %}
	<p class="text-muted">{{ _(introduction_text) }}</p>
	{% endif %}
</div>
<div class="form-message hide"></div>
{% if _login_required %}
<div class="login-required">
	<div class="text-muted">
		{{ _("Please sign-up or login to begin") }}
	</div>
	<p>
		<a href="/login?redirect-to=/{{ pathname }}" class="btn btn-primary">
			{{ _("Login") }}
		</a>
	</p>
</div>
{% elif is_list %}
	{% include "templates/includes/list/list.html" %}
	<script>{% include "templates/includes/list/list.js" %}</script>
{% else %}
<br>
{% if allow_comments and not frappe.form_dict.new -%}
<div class="comments">
	<br><br>
	<h3>{{ _("Comments") }}</h3>
	{% include 'templates/includes/comments/comments.html' %}
</div>
{%- endif %}
{% endif %}
<div class="padding"></div>
{% endblock %}
#}

{% block script %}

<script>
window.web_form_settings = {
	allow_incomplete: 	{{ allow_incomplete or 0 }},
	success_link: 		'<p>{{ success_message or _("Your information has been submitted") }}</p><p><a href="{{ success_url or "/" }}" class="btn btn-sm btn-default">{{ _("Continue") }}</a></p>',
	datepicker_format: 	"{{ frappe.date_format }}",
	web_form_doctype: 	"{{ doc_type }}",
	web_form_name: 		"{{ name }}",
	is_new: 			{{ 1 if frappe.form_dict.new else 0 }},
	is_read_only: 		{{ 1 if read_only else 0 }},
	doc_name: 			"{{ frappe.form_dict.name or "" }}",
	login_required: 	{{ 1 if login_required else 0 }},
	max_attachment_size:{{ max_attachment_size }},
	moment_date_format: "{{ frappe.date_format.upper() }}",
	is_list: {{ frappe.utils.cint(is_list) }},
	meta: `{{ meta }}`
}
window.boot_info = {
	currency: "{{ defaults.currency }}",
	date_format: "{{ defaults.date_format }}",
	float_precision: "{{ defaults.float_precision }}",
	language: "{{ defaults.language }}",
	number_format: "{{ defaults.number_format }}",
	time_zone: "{{ defaults.time_zone }}"
}
{% if row_template %}web_form_settings.web_form_row_template = "{{ row_template }}";{% endif %}
</script>

<script type="text/javascript" src="/assets/js/web_form.min.js"></script>
<script>
{% if script is defined %}
{{ script }}
{% endif %}
</script>
{% endblock %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/assets/css/web_form.css">
<style>
{% if style is defined %}{{ style }}{% endif %}
</style>
{% endblock %}
